body{
  animation: back 1s forwards;
}
@keyframes back{
  0%{
    background:#000;
  }
  100%{
    background:#080808;
  }
}
/*header*/
.header .menu{
  color:#fff;
  margin:7px;
  font-size:1.6em;
}
.header{
  animation: fadedown 2s forwards;
}

@keyframes fadedown{
  0%{
    transform:TranslateY(-10px);
    opacity:0;
  }
  50%{
    transform:TranslateY(-10px);
    opacity:0;
  }
  80%{
    opacity:1;
  }
  100%{
    transform:TranslateY(0px);
    opacity:1;
  }
}

/*uniant_logo*/

.uniant_logo{
    position: absolute;
    display:flex;
    justify-content:center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}
.uniant_img{
    z-index:10000;
    width:170px;
    height:170px;
    float:left;
}
.uniant_text{
  color:#fff;
  font-size:5em;
  animation: slideIn 1.5s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  
}
@keyframes slideIn {
  0% {
    transform: translateX(-180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
 