body
{
   margin: 0em; /*ウィンドウピッタリ*/
}

.menu_link{
    font-size: 1.6rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    color: #212529;
    float: left;
    transition: all 300ms 0s ease;
    background:#fff;
}
.honbun{
    padding:1rem 3rem;
}

.s-2em {
    font-size:2em;
}

.s-1em{
    font-size:1.5em;
}

.menu_link:hover{
    background:linear-gradient(transparent 96%, #00a0ff 0%);
}

.btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #00ff00;
  font-size: 16px;
  color: #fff;
  background-color:#00ff00;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn:hover {
  background-color: #fff000;
  border-color: #fff000;
  color: #00ff00;
}

#sita_menu{
    margin-top:3em;
    background:#444444;
    padding-top:60px;
    padding-left:60px;
    color:#fff;
    text-shadow: 0px 0px 5px #ffffff;
}

#sita_menu a{
    color:#fff;
    text-decoration: none;
}

#ue_menu{
    clear:left;
    border-top: solid 1px #5989cf;
    border-bottom: solid 1px #5989cf;
}