.honbun{
    border-radius: 12px;
    background:#ffffff;
    position:absolute;
    top:30%;
    left: 12%;
    width:75%;
}

.komidasi{
    width:80%;
    background:#dddddd;
}

.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem; 
  color: #00ff00;
  background:#00ffff;
  border-radius: 12px;
}

#menu_sita{
background:#ffffff;
color:#000000;
}

.btn:hover{
    background:linear-gradient(#05f,#f0f);
}
