body
{
   margin: 0em; /*ウィンドウピッタリ*/
}

.menu_link{
    font-size: 1.6rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    color: #212529;
    float: left;
    transition: all 300ms 0s ease;
    background:#fff;
}
.m_text{
    padding:1rem 5rem;
    width:60vw;
}

.s-2em {
    font-size:2em;
}

.s-1em{
    font-size:1.5em;
}

.menu_link:hover{
    background:linear-gradient(transparent 96%, #00a0ff 0%);
}

.btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #00ff00;
  font-size: 16px;
  color: #fff;
  background-color:#00ff00;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn:hover {
  background-color: #000fff;
  border-color: #000fff;
  color: #00ff00;
}

#sita_menu{
    margin-top:3em;
    background:#444444;
    padding-top:60px;
    padding-left:60px;
    color:#fff;
    text-shadow: 0px 0px 5px #ffffff;
}

#sita_menu a{
    color:#fff;
    text-decoration: none;
}

#ue_menu{
    clear:left;
    border-top: solid 1px #5989cf;
    border-bottom: solid 1px #5989cf;
}
/*link_card*/
.link_card{
    display:flex;
    align-items: center;
    border: solid 2px #e5e5e5;
    background:#fff;
    width:400px;
    margin-top:2em;
    
}
.link_card .img{
    width:100px;
    height:100px;
    float:left;
    border-right: #e5e5e5 solid 2px;
}
.link_card .title{
    font-weight: bold;
}
.link_card:hover{
    cursor: pointer;
    background:#efefef;
    opacity: 0.7;
}

/*click_box*/
.click_box{
    display: inline-block; _display: inline;
    width:250px;
    height:270px;
    background:linear-gradient(to bottom right, #0000aa, #00aa00);
    color:#fff;
    border-radius:1em;
    box-shadow: 0 0 15px gray;
}
.click_box .title{
    padding-top:30px;
    text-align:center;
    font-size:2em;
    text-decoration: none;
}
.click_box .about{
    padding-top:20px;
    text-decoration: none;
}
.click_box:hover{
    box-shadow: 0 0 30px gray;
}
.click_box_a{
    padding:20px;
    text-decoration: none;
}