.nav ul {
    list-style-type: none;/* リストマークなし */
    padding: 0;/* リストマークの余白なし */
    position:absolute;
    top:0px;
    left:5%;
}
.drop_menu {
    display: flex;/* 要素をFlexboxに定義 */
    justify-content: flex-start;/* 左寄せ配置 */
    text-align: center;/* テキストを中央寄せ */
}
.drop_menu li {
    position: relative;/* ボックスの配置基準 */
    z-index: 1;/* 前面に描画 */
    min-width: 130px;/* 親メニューの最小横幅 */
}
.drop_menu a {
    display: block;/* 要素をブロックに定義 */
    text-decoration: none;/* リンク下線なし */
    background-color: #444444;/* 背景色 */
    color: #00ffdf;/* テキスト色 */
    padding: 10px;/* 余白 */
}
.drop_menu a:hover {
    background-color: #000000;/* リンク選択時の背景色 */
}
.drop_menu li ul {/* 子メニュー */
    position: absolute;/* ボックスの配置基準 */
    top: 100%;/* 親メニュー上部からの表示位置 */
    left: 0;/* 親メニュー左端からの表示位置 */
    width: 100%;/* 親メニュー幅に合わせる */
}
.drop_menu li ul li {
    visibility: hidden;/* 子メニューの非表示 */
    /* スライド表示させる場合は以下も */
    overflow: hidden;/* ボックスからはみ出た部分を非表示 */
    height: 0;
    transition-duration: 0.2s;/* 変化にかかる時間 */
}
.drop_menu li:hover > ul > li {
    visibility: visible;/* 子メニューの表示 */
    /* スライド表示させる場合は以下も */
    overflow: visible;/* ボックスからはみ出た部分を表示 */
    height: 44px;/* 項目名が途切れて隠れないように注意 */
}